PORT=

// Event hub connection string 
IOTHUB_EVENTHUB_CONNECTION_STRING=

//Connection string to IoTHub
IOTHUB_CONNECTION_STRING=

//Device consumer group
CONSUMER_GROUP=

//Device ID (name)
DEVICEID=